version: '2'
services:
  machine_learning:
    build: ./tensorflow
    volumes:
      - nvidia_driver_367.57:/usr/local/nvidia:ro
      - ./share:/share:rw
    devices:
      - "/dev/nvidiactl"
      - "/dev/nvidia-uvm"
      - "/dev/nvidia0"
#    tty: true
#    stdin_open: true
    ports:
      - "6006:6006"
      - "8888:8888"
      - "3000:3000"

volumes:
  nvidia_driver_367.57:
    external: true
